$dark-text: rgb(95, 95, 95);
$light-text: rgb(255, 255, 255);

$english-gradient: linear-gradient(to right, #c235ec, #f02db5); 
$english-border: violet;

$morse-gradient: linear-gradient(to right, #0072ff, #00c6ff);
$morse-border: lightblue;