$dark-text: rgb(95, 95, 95);
$light-text: rgb(255, 255, 255);

$english-gradient: linear-gradient(to right, #c235ec, #f02db5);
$english-border: violet;

$morse-gradient: linear-gradient(to right, #0072ff, #00c6ff);
$morse-border: lightblue;

$base-margin: 30px 0;
$base-padding: 15px;


%translation-container {
    width: 50%;
    height: 90vh;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

%base-btn {
    height: 40px;
    width: 140px;
    border-radius: 15px;
    border: none;
    color: $light-text;
    font-weight: 600;
}

%base-form {
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-between;
    align-items: center;

    input {
        height: 30px;
        width: 150px;
        border: 1px solid $dark-text;
        border-radius: 5px;
    }
}

%output {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
